@import "tailwindcss";

/* @theme {
  md: 400px;
} */
.ps5 {
    background-image: url("./assets/ps5-slim-goedkope-playstation.png");
    background-repeat: no-repeat;
    background-position: 0px 90px;
}

.woman {
    background-image: url("./assets//attractive-woman-wearing-hat-posing-black-background.png");
    background-repeat: no-repeat;
    background-position: 90px 0px;
}

.kalonka {
    background-image: url("./assets/Frame707.png");
    background-repeat: no-repeat;
    background-position: 30px 40px;
}

.duhi {
    background-image: url("./assets/Frame706.png");
    background-repeat: no-repeat;
    background-position: 30px 40px;
}